<nav aria-label="breadcrumb mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categorias</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Categorias
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right"><span><i class="fa fa-plus-circle" aria-hidden="true"></i>
        Nova Categoria</span></a>
  </div>
</div>

<table class="table table-hover mt-2">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categorias</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Lazer</strong><br>
        <small>Cinema...</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm"><span><i class="fa fa-pencil"
              aria-hidden="true"></i>
            Editar</span></a>
        <button (click)="alert('Excluir')" class="btn btn-outline-danger btn-sm ml-2"><span><i class="fa fa-trash-o"
              aria-hidden="true"></i>

            Excluir</span></button>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Lazer</strong><br>
        <small>Cinema...</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm"><span><i class="fa fa-pencil"
              aria-hidden="true"></i>
            Editar</span></a>
        <button (click)="alert('Excluir')" class="btn btn-outline-danger btn-sm ml-2"><span><i class="fa fa-trash-o"
              aria-hidden="true"></i>

            Excluir</span></button>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Lazer</strong><br>
        <small>Cinema...</small>
      </td>
      <td>
        <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm"><span><i class="fa fa-pencil"
              aria-hidden="true"></i>
            Editar</span></a>
        <button (click)="alert('Excluir')" class="btn btn-outline-danger btn-sm ml-2"><span><i class="fa fa-trash-o"
              aria-hidden="true"></i>

            Excluir</span></button>
      </td>
    </tr>
  </tbody>
</table>
